$green: #cccd2b;
$blue: #3e7ec1;
$orange: #f49c21;
$red: #d92628;
$gray: #e9e8e8;

$price: #ef4823;
$price-darker: #dd3f26;

$discount: #fff200;

$headline: 'Neutral Face';
$general: 'Inter';

// $logo-width: 339px;
// $logo-height: 351px;

// $logo-text-width: 305px;
// $logo-text-height: 49px;

// $backgournd-width: 426px;
// $backgournd-height: 160px;